/* Write your CSS here */
.cashContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cardContainer {
  background-color: #150b3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  width: 80%;
  max-width: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon-head {
  color: #7c3aed;
  font-size: 20px;
  font-weight: 600;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.name {
  font-size: 30px;
  color: #c7d2fe;
  font-weight: 600;
  margin-left: 20px;
  text-shadow: 0px 2px 3px #000;
  /* letter-spacing: 2px; */
}
.balanceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balanceName {
  font-size: 23px;
  color: #585076;
  font-weight: 500;
  margin: 0;
}
.balanceCard {
}
.balanceCardHead {
  margin: 0;
  color: #c7d2fe;
  font-weight: 500;
  font-size: 25px;
  text-shadow: 0px 2px 3px #000;
}
.balanceCardPara {
  margin-top: 0;
  margin-bottom: 0;
  color: #585076;
  font-weight: 600;
}
.withdraw {
  font-size: 25px;
  color: #c7d2fe;
  font-weight: 500;
}
.withdrawPara {
  color: #585076;
  font-weight: 600;
}
.withdrawContainer {
  margin-top: 20px;
}

.denominationsContainer {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.error {
  color: #ff0000;
  opacity: 0.8;
}
.warning {
  color: #00f0a8;
  display: block;
  font-size: 10px;
}